@model ML.Libro
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Form</h2>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Form", "Libro", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.IdLibro, new { @class = "hidden" })
                        @Html.TextBoxFor(model => model.IdLibro, new { @class = "hidden form-control", autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.IdLibro)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.TituloLibro)
                        <div class="input-group">
                            <span class="input-group-addon"><i class="bi bi-book-half"></i></span>
                            @Html.TextBoxFor(model => model.TituloLibro, new { @placeholder = "Titulo de Libro", @class = "form-control", @id = "txtTituloLibro" })
                            @Html.ValidationMessageFor(model => model.TituloLibro)
                        </div>
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.AñoPublicacion)
                        <div class="input-group">
                            <span class="input-group-addon"><i class="bi bi-calendar-date"></i></span>
                            @Html.TextBoxFor(model => model.AñoPublicacion, new { @placeholder = "Año de Publicacion", @class = "form-control", @id = "txtAñoPublicacion" })
                            @Html.ValidationMessageFor(model => model.AñoPublicacion)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Imagen)
                        <input type="file" name="ImagenData" onchange="readURL(this);">
                        @if (Model.Imagen != null)
                        {
                            <img id="ImagenPreview" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Imagen)" style="height:150px; width: 150px" />
                        }
                        else
                        {
                            <img id="ImagePreview" src="~/Content/no_product.PNG" style="height:150px; width: 150px" />
                        }
                    </div>
                    @Html.HiddenFor(model => model.Imagen)
                </div>
                
                <div class="form-group">
                    <div class="col-md-3">
                        <input type="submit" value="Guardar" class="btn btn-success" />
                        @Html.ActionLink("Regresar", "GetAll", "Libro", htmlAttributes: new { @class = "btn btn-danger" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>
