@model ML.Libro
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Libros</h2>
<div class="form-row">
    <!--Cambiar el fomrulario -->
    @using (Html.BeginForm("GetAll", "Libro", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="col-md-2">
            @Html.LabelFor(model => model.TituloLibro)
            @Html.TextBoxFor(model => model.TituloLibro, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TituloLibro)
        </div>
        <div class="col-md-2">
            <br />
            <input type="submit" value="Buscar" class="btn btn-info" />
        </div>
    }
</div>
<br />
<br />
<div style="float:right">
    @Html.ActionLink("Agregar", "Form", "Agenda", htmlAttributes: new { @class = "btn btn-success" })
</div>
<hr />
<div>
    <br />
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <td>Editar</td>
                <td class="hidden">IdLibro</td>
                <td>Titulo del Libro</td>
                <td>Año de Publicacion</td>
                <td>Imagen</td>
                <td>Eliminar</td>
            </tr>
        </thead>
        <tbody>
            @foreach (ML.Libro libro in Model.Libros)
            {
                <tr>
                    <td><a class="btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("Form", "Libro", new {IdLibro = libro.IdLibro })"></a></td>
                    <td class="hidden">@libro.IdLibro</td>
                    <td>@libro.TituloLibro</td>
                    <td>@libro.AñoPublicacion</td>
                    @if (libro.Imagen != null)
                    {
                        <td><img src="data:image/jpeg;base64,@Convert.ToBase64String(libro.Imagen)" style="height:150px; width: 150px" /></td>
                    }
                    else
                    {
                        <td><img src="~/Content/no_product.PNG" style="height:150px; width: 150px" /></td>
                    }
                    <td><a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete", "Libro", new { IdLibro = libro.IdLibro })" onclick="return confirm('Estas seguro que deseas eliminar este registro');"></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>